body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: "Great Vibes", cursive;
    text-transform: uppercase;
    color: #c49b63;
    letter-spacing: 0.5rem;
}

h1 i {
    color: #c49b63;
    text-shadow: 0 0 10px rgba(247, 247, 247, 0.5);
    margin-right: 5px;
    margin-left: 5px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.recipe {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 8px #c49b63;
    padding: 20px;
    margin: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.recipe h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 4rem;
    font-family: "Great Vibes", cursive;
    letter-spacing: 0.1rem;
}

.recipe p {
    margin-top: 1.5rem;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 505;
}

.more-button {
    background-color: #c49b63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 10px;
}
.less-button{
    background-color: #c49b63;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 10px;
}
.more-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
}

.more-content img{
    width: 350px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 30px 20px 30px 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.more-content img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.more-content > .content-heading{
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
    text-shadow: 0 0 10px #c49b63, 0 0 20px #c49b63, 0 0 30px #c49b63, 0 0 40px #c49b63, 0 0 70px #c49b63, 0 0 80px #c49b63, 0 0 100px #c49b63, 0 0 150px #c49b63;
}
.more-content > p{
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    text-align: left;
    font-weight: 700;
    letter-spacing: 1px;
}
.show-more .more-button {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*RESPONSIVE*/
@media screen and (max-width: 1366px) {
    h1 {
        font-size: 3.5rem;
    }

    .recipe {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2.5rem;
    }

    .recipe {
        width: 70%;
    }

    img {
        max-width: 80%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 3.5rem;
    }

    .recipe {
        width: 90%;
    }

    img {
        max-width: 100%;
    }
}