body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 4px rgba(255, 215, 0, 1.5);
}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8rem;
    color: #ffffff;

}

h2 {
    color: #000;
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-align: center;
    margin-top: 1rem;
}

p {
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
}

i {
    color: #000;
    margin-left: 1rem;
    font-size: 2rem;
}

.popup-text {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    font-weight: 700;
}

.product {
    display: inline-block;
    margin: 0 1.5%;
    vertical-align: top;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.product:nth-child(even) {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.product img {
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.price {
    font-weight: bold;
}

.buy-btn {
    background-color: #efbc75;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #a67a42;
}

.remove-from-cart-btn {
    background-color: #efbc75;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart-btn:hover {
    background-color: #a67a42;
}

.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.search-box {
    text-align: center;
    background-color: #c49b63;
    height: 15rem;
    padding-top: 40px;
    width: 100%;
}

.search-box input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-box button {
    padding: 10px 15px;
    background-color: #efbc75;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search-box button:hover {
    background-color: #a67a42;
}

/* Sepet ikonu */
.popup-content {
    background-color: #c49b63;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shopping {
    display: flex;
    align-items: center;
    background-color: #c49b63;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
    height: 100px;
}

.shopping .text {
    font-size: 5rem;
    font-family: "Great Vibes", cursive;
    margin-right: 20px;
    font-weight: 600;
}

.cart-icon {
    position: relative;
    display: inline-block;
    background-color: #c49b63;
    font-size: 8rem;
}

.cart-icon #cartItemCount {
    position: absolute;
    top: -0.4rem;
    right: 1.4rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 1.25rem;
}

/*End of sepet-iconu*/

/* Sepet Popup */
#cartPopup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cartPopup .popup-content {
    background-color: #c49b63;
    padding: 70px;
    width: 800px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
}

.popup-content>h2 {
    font-size: 6rem;
}


#cartUpdatePopup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*End od sepet-popup */
/*Footer*/
footer {
    background-color: #000000;
    color: #000;
    padding: 25rem;
    text-align: center;
}

.contact-form {
    border-radius: 3rem;
    color: #000;
}

.form-heading {
    color: #000;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 7px rgba(2, 2, 2, 0.5);
    margin-top: 5rem;
}

a {
    font-size: 1.7rem;
    padding: 15px 25px;
    background-color: #c49b63;
    border: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 6rem;
}

a:hover {
    background-color: #a87a42;
}

/*End of Footer*/
/*RESPONSIVE*/
/* Max-width: 1366px */
@media (max-width: 1366px) {
    .product {
        width: 30%;
    }
}

@media (max-width: 1100px) {
    .cart-icon #cartItemCount {
        font-size: 1rem;
        top: 0.7rem;
        right: 1.9rem;
    }
}

/* Max-width: 600px */
@media (max-width: 600px) {
    .search-box {
        height: 25rem;
    }

    .shopping {
        padding-bottom: 15px;
    }

    .shopping .text {
        font-size: 3rem;
        margin-right: 10px;
    }

    .cart-icon {
        font-size: 6rem;
    }

    .cart-icon #cartItemCount {
        font-size: 1.4rem;
        top: 1rem;
        right: 3rem;
    }

    #cartPopup .popup-content {
        padding: 20px;
        width: 90%;
    }

    footer {
        padding: 20rem;
    }

    .buy-btn {
        font-size: 1.7rem;
        margin-bottom: 1.4rem;
        margin-top: 1rem;
    }

    .remove-from-cart-btn {
        font-size: 1.7rem;
    }
}


/* Max-width: 500px */
@media (max-width: 500px) {
    .product {
        width: 40%;
        margin: 0 1%;
        margin-bottom: 2rem;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    .shopping .text {
        font-size: 2rem;
    }

    .cart-icon {
        font-size: 4rem;
    }

    #cartPopup .popup-content {
        padding: 10px;
        width: 90%;
    }

    footer {
        padding: 4rem;
    }

    .search-box {
        height: auto;
        padding-bottom: 8rem;
    }

    .buy-btn {
        font-size: 1.7rem;
        margin-bottom: 1.4rem;
        margin-top: 1rem;
    }

    .remove-from-cart-btn {
        font-size: 1.7rem;
    }

    footer {
        padding: 25rem;
    }

    .shopping .text {
        font-size: 4rem;
    }

    .cart-icon #cartItemCount {
        font-size: 1rem;
        top: 1.1rem;
        right: 4rem;
    }
}

/* Max-width: 400px */
@media (max-width: 400px) {
    .product {
        width: 90%;
        margin: 15px auto;
        margin-bottom: 2rem;
        margin-left: 3rem;
    }

    .search-box {
        padding-top: 20px;
        padding-bottom: 8rem;
    }

    .search-box input[type="text"] {
        width: 80%;
    }

    .search-box button {
        margin-left: 5px;
    }

    .shopping .text {
        font-size: 2rem;
    }

    .cart-icon {
        font-size: 4rem;
    }

    #cartPopup .popup-content {
        padding: 10px;
        width: 90%;
    }

    footer {
        padding: 45rem;
    }

    .shopping .text {
        font-size: 4rem;
    }

    .cart-icon #cartItemCount {
        font-size: 1.4rem;
        top: 1rem;
        right: 5rem;
    }
}

/* Max-width: 200px */
@media (max-width: 200px) {
    .product {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .search-box {
        padding-top: 20px;
    }

    .search-box input[type="text"] {
        width: 80%;
    }

    .search-box button {
        margin-left: 5px;
    }

    .shopping .text {
        font-size: 1.5rem;
    }

    .cart-icon {
        font-size: 3rem;
    }

    #cartPopup .popup-content {
        padding: 10px;
        width: 90%;
    }

    

    footer {
        padding: 5rem;
    }
}
